table {
	border: 2px solid black;
	margin: 0 auto;
	margin-bottom: 10px;
}

th {
	border: 2px solid black;
}

body {
	text-align: center;
}

.clickable:hover {
	background-color: lightgrey;
}

#move-div, #button-div {
	margin-bottom: 10px;
}