table {
	border: 2px solid black;
	margin: 0 auto;
	margin-bottom: 10px;
}

th {
	border: 2px solid black;
}

body {
	text-align: center;
}

#save-button {
	margin-top: 10px;
}

#directions-div, #rating-div {
	border: 2px solid black;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

#rating-div {
	padding-bottom: 15px;
}